<p style="color: green"><%= notice %></p>

<%= render @idea %>

<div>
  <%= link_to "Изменить это", edit_idea_path(@idea) %> |
  <%= link_to "Вернуться назад", ideas_path %>

  <%= button_to "УДАЛИТЬ ЭТО НАХУЙ", @idea, method: :delete %>
</div>
